body {
    background-color: white;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

img {
    padding: 10;
    text-align: center;
    margin: 15px;
    border: 10px black;
    border-radius: 10px;
}

h2 {
    color: red;
    padding: 0px;
}

h3 {
    color: #222;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.video-gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
}

video {
    border-radius: 10px;
}
